annotated-types==0.7.0
attrs==25.3.0
fuzzysearch==0.8.0
glfw==2.8.0
imgui-bundle==1.6.2
munch==4.0.0
numpy==2.2.3
opencv-python==4.11.0.86
pillow==11.1.0
pydantic==2.10.6
pydantic_core==2.27.2
pyglm==2.8.0
PyOpenGL==3.1.9
typing_extensions==4.12.2
